.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 64px;
  height: 34px;
  background: #eee;
  display: inline-block;
  border-radius: 34px;
  position: relative;
  transition: all 0.4s ease-in-out;
}

label:hover {
  background-color: #90fae8;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 24px;
  width: 24px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(111, 111, 111);
  border-radius: 50%;
  transition: all 0.4s ease-in;
}

input:checked + label {
  background: linear-gradient(90deg, #90fae8, #77ecd9);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 88px;
}
